// @import './fonts';

$primary-color: #f90;
$primary-color-disabled: #db7;

$secondary-color: #cf0;
$secondary-color-disabled: #9c3;

$contrast-color: #909;
$contrast-color-disabled: #636;

$text-color: #000b;
$text-color-hover: #000e;
$text-color-disabled: #0005;

$element-shadow: 0 0 5px rgba(0, 0, 0, .5);
$element-shadow-error: 0 0 5px $contrast-color;
